@inherits OpenMyOrdersMoreDetailsDialogBase

<MudDialog>
    <DialogContent>
        <MudSimpleTable Class="mt-4" Hover="true" Dense="true" FixedHeader="true">
            <thead>
                <tr>
                    <th style="width: 40%">Product</th>
                    <th class="text-center" style="width: 30%">From</th>
                    <th class="text-center" style="width: 15%">Quantity</th>
                    <th class="text-center" style="width: 15%">Price</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Order.CartItems.Count; i++)
                {
                    int locale = i;
                    <tr>
                        <td>@Order.CartItems[i].Product.Title</td>
                        <td class="text-center">@Order.CartItems[i].Product.User.FirstName @Order.CartItems[i].Product.User.LastName</td>
                        <td class="text-center">@Order.CartItems[i].Quantity</td>
                        <td class="text-center">@Order.CartItems[i].Price$</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <p class="mt-5"><span style="font-weight: 500; font-size: 18px;">Description: </span>@Order.Description</p>
        <p class="mt-5"><span style="font-weight: 500; font-size: 18px;">Price: </span>@Order.Price</p>
        <p class="mt-5"><span style="font-weight: 500; font-size: 18px;">Ordered from: </span>@Order.FromDate.ToString("dd/MM/yyyy")</p>
        <p class="mt-5"><span style="font-weight: 500; font-size: 18px;">Ordered for: </span>@Order.ToDate.ToString("dd/MM/yyyy")</p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>